<a href="https://colab.research.google.com/github/VEKE-hub/week-3-project/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Edward_Mwavu_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.0 Preview

The main idea of this report is to identify how MTN Cote d'Ivoire would go about the upgrade of its infrastructure strategy within the given cities where MTN Côte d’Ivoire operates. We have data for 3 days.

2.0 Datasets

Below are the datasets used for this project:

.cells_geo_description.xlsx link

.cells_geo.csv link

.CDR_description.xlsx link

.CDR 20120507 [http://bit.ly/TelecomDataset1]

.CDR 20120508 [http://bit.ly/TelecomDataset2]

.CDR 20120509 [http://bit.ly/TelecomDataset3]

2.1 Importing the Libraries to be used

In [ ]:
# To import the pandas library, we use the below code:
#
import pandas as pd
# as well as the Numpy library
#
import numpy as np

2.2 Loading our Datasets

In [ ]:
#We first load cells_geo_description.xlsx
#url=https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/
#we download from the above url and upload it in colab

df1=pd.read_excel('cells_geo_description.xlsx')
print(df1)

In [ ]:
# cells_geo.csv from the url https://drive.google.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/
# url='https://drive.google.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view'
# we download the data and upload it in the notebook
df2=pd.read_csv('cells_geo.csv', delimiter=';')
df2.head(5)

In [ ]:
# CDR_description data from the url https://drive.google.com/file/d/1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD/view
# we download the data and upload it in the notebook

df3 = pd.read_excel('CDR_description.xlsx')
df3

In [ ]:
# CDR 20120507 [http://bit.ly/TelecomDataset1]
# we download the data and upload it in the notebook
#url='http://bit.ly/TelecomDataset1'
df4=pd.read_csv('Telcom_dataset.csv')
df4.head(5)

In [ ]:
# CDR 20120508 [http://bit.ly/TelecomDataset2]
# we download the data and upload it in the notebook

df5=pd.read_csv('Telcom_dataset2.csv')
df4.head(5)

In [ ]:
# CDR 20120509 [http://bit.ly/TelecomDataset3]
# we download the data and upload it in the notebook

df6=pd.read_csv('Telcom_dataset3.csv')
df4.head(5)

3.0 Data Exprolation

3.1 Cells Geo

In [ ]:
df2.head(3)

In [ ]:
#changing the column name SITE_CODE to SITE_ID and deleting the former column
df2['SITE_ID']=df2['SITE_CODE']
del df2['SITE_CODE']

In [ ]:
# This counts the number of unique cities
cities = list(df2['VILLES'].unique())
len(cities)

In [ ]:
# This code gives the status of whether in service or not

Status = df2["STATUS"].value_counts(normalize=True)
print(Status)

In [ ]:
#This code returns whether the locality was in Abidjan or not
Localize = df2["LOCALISATION"].value_counts(normalize=True)
print(Localize)

In [ ]:
#This code returns the unique Geographical zones and percentage of each Geographical zone
Geographical_zone = df2["DECOUPZONE"].value_counts(normalize=True)
print(Geographical_zone)

# We print the number of Geographical zones
print(len(list(df2['DECOUPZONE'].unique())))

In [ ]:
#This code returns the unique zones and percentage of each zone
Name_of_zone = df2["ZONENAME"].value_counts(normalize=True)
print(Name_of_zone)

# We print the number of zones
print(len(list(df2['ZONENAME'].unique())))

In [ ]:
#This code returns the unique regions and percentage of each region
Region = df2["REGION"].value_counts(normalize=True)
print(Region)

# We print the number of regions
print(len(list(df2['REGION'].unique())))

In [ ]:
#This code returns the unique cells and percentage of each cell
#Cells = df2["CELL_ID"].value_counts(normalize=True)
#print(Cells)

# We print the number of cells
#print(len(list(df2['CELL_ID'].unique())))

cells = df2['CELL_ID'].groupby(df2['VILLES'])
f=cells.count()
f.sort_values(ascending=False)

In [ ]:
#This code returns the unique sites and percentage of each site
Site = df2["SITE_ID"].value_counts(normalize=True)
print(Site)

# We print the number of cells
print(len(list(df2['SITE_ID'].unique())))

In [ ]:
#Geog_Abidan = df2[['DECOUPZONE','LOCALISATION']]
#print(Geog_Abidan)
Geog_Abidan = df2['DECOUPZONE'].groupby(df2['LOCALISATION'])
Geog_Abidan.count()

In [ ]:
#Grouping localisation with region
Loc_Region = df2['LOCALISATION'].groupby(df2['REGION'])
Loc_Region.count()

In [ ]:
#Grouping cells with region
cell_Region = df2['CELL_ID'].groupby(df2['REGION'])
cell_Region.count()

In [ ]:
#Grouping sites with region
Site_Region = (df2['SITE_ID']).groupby(df2['REGION']).unique()
Site_Region

3.2 Telcom Datasets

In [ ]:
#Changing column name and deleting the previous column for dataframes df4, df5 and df6
df5['DW_A_NUMBER_INT'] = df5['DW_A_NUMBER']
del df5['DW_A_NUMBER']
df5['DW_B_NUMBER_INT']=df5['DW_B_NUMBER']
del df5['DW_B_NUMBER']
df4['PRODUCT']=df4['PRODUTC']
del df4['PRODUTC']
df4['DATE_TIME']=df4['DATETIME']
del df4['DATETIME']
df6['SITE_ID']=df6['SIET_ID']
del df6['SIET_ID']
df6['CELL_ID']=df6['CELLID']
del df6['CELLID']

In [ ]:
#converting the DATETIME which is in string format to Date format

df4['new_date'] = pd.to_datetime(df4['DATE_TIME'])
df5['new_date'] = pd.to_datetime(df5['DATE_TIME'])
df6['new_date'] = pd.to_datetime(df6['DATE_TIME'])

In [ ]:
# We first view the dataframe of Telcom Dataset for May 07, 2012
df4.head(3)

In [ ]:
#df4_5 = pd.concat(df4, df5)
#df4_5.head(3)
frames = [df4,df5,df6]
df456 = pd.concat(frames)

df456.head(3)

In [ ]:
# finding the usage value for each product for 20120507
service_value_4 = df4['VALUE'].groupby(df4['PRODUCT'])
print(service_value_4.sum())
print(service_value_4.mean())

In [ ]:
import time
    from time import mktime
    from datetime import datetime

In [ ]:
#Splitting the date column into day and time columns
df4['new_date_'] = [d.date() for d in df4['new_date']] # day
df4['new_time'] = [d.time() for d in df4['new_date']]  # time
df5['new_date_'] = [d.date() for d in df5['new_date']] # day
df5['new_time'] = [d.time() for d in df5['new_date']]  # time
df6['new_date_'] = [d.date() for d in df6['new_date']] # day
df6['new_time'] = [d.time() for d in df6['new_date']]  # time

In [ ]:
# finding the usage value for each product for 20120508
service_value_5 = df5['VALUE'].groupby(df5['PRODUCT'])
print(service_value_5.sum())
print(service_value_5.mean())

In [ ]:
# finding the usage value for each product for 20120509
service_value_6 = df6['VALUE'].groupby(df6['PRODUCT'])
print(service_value_6.sum())
print(service_value_6.mean())

In [ ]:
# finding the usage value for each product for 20120507, 20120508 &20120509
service_value_456 = df456['VALUE'].groupby(df456['PRODUCT'])
print(service_value_456.sum())
print(service_value_456.mean())

In [ ]:
#Getting the usage value by zone
value_456 = df456['VALUE'].groupby(df2['DECOUPZONE'])
a=value_456.sum()
b=value_456.mean()
a.sort_values(ascending=False)

In [ ]:
#Getting the usage value by cities

value_city = df456['VALUE'].groupby(df2['VILLES'])
c=value_city.sum()
print(c.sort_values(ascending=False))

In [ ]:
#ranking cities by time usage

day_456 = df456['new_date'].groupby(df2['VILLES'])
d=day_456.count()

d.sort_values(ascending=False)

In [ ]:
#Crearing a new column new_time that has time only

df456['new_time'] = pd.to_datetime(df456['new_date'],format= '%H' ).dt.time
df456.head(3)